<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>博客管理</title>
  </head>
  <body>
  <!-- 导航 -->
  <nav th:replace="admin/_fragments::menu(1)" ></nav>
  <!-- 二级导航 -->
  <nav th:replace="admin/_fragments::sub-menu(1)" ></nav>

  <!-- 中间内容 -->
    <div class="m-paddded-tb-large">
      <div class="ui container">
        <form action="#" class="ui form segment" method="POST">
          <div class="inline fields">
            <div class="field">
              <input type="text" name="title" placeholder="标题">
            </div>
            <div class="field">
              <div class="ui selection dropdown">
                <input type="hidden" name="type">
                <i class="icon dropdown"></i>
                <div class="default text">分类</div>
                <div class="menu">
                  <div class="item" data-value="1">错误日志</div>
                  <div class="item" data-value="2">开发者手册</div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" id="recommend" name="recommend">
                <label for="recommend">推荐</label>
              </div>
            </div>
            <div class="field">
              <button class="ui mini teal basic button">
                <i class="icon search"></i>
                搜索
              </button>
            </div>
            <div class="field">
              <button class="ui mini teal basic button">
                <i class="icon edit"></i>
                新增
              </button>
            </div>
          </div>
        </form>

        <!-- table -->
        <table class="ui table ">
          <thead>
            <tr>
              <th></th>
              <th>标题</th>
              <th>类型</th>
              <th>推荐</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>刻意练习</td>
              <td>方法论</td>
              <td>是</td>
              <td>2020-06-09 18:14</td>
              <td>
                <a href="#" class="ui mini button teal">编辑</a>
                <a href="#" class="ui mini red button">删除</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="6">
                <div class="ui mini right floated pagination menu">
                  <a class="icon item">上一页</a>
                  <a class="icon item">下一页</a>
                </div>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

  <!-- 底部 -->
  <footer th:replace="admin/_fragments::footer" ></footer>

  <!-- 引入js脚本-->
  <th:block th:replace="admin/_fragments::script"></th:block>

    <script>
      $('.menu.toggle').click(() => {
        $('.m-item').toggleClass('m-mobile-hide', 1000, "easeOutSine");
      });
      $('.ui.dropdown').dropdown({  on: 'hover'});
    </script>
  </body>
</html>
