<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments::head(~{::title})">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>分类新增</title>
</head>
<body>
  <!-- 导航 -->
  <nav th:replace="admin/_fragments::menu(2)" ></nav>
  <!-- 二级导航 -->
  <nav >
    <div class="ui attached pointing menu">
      <div class="ui container">
        <a href="#" th:href="@{/admin/types/input}" class="item active">新增</a>
        <a href="#" th:href="@{/admin/types}" class="item">列表</a>
      </div>
    </div>
  </nav>

    <!-- 中间内容 -->
    <div class="m-paddded-tb-large">
      <div class="ui container">
        <form action="#" method="POST" th:object="${type}"  th:action="*{id} == null ? @{/admin/types}:@{/admin/types/{id}(id=*{id})}" class="ui form">
          <input type="hidden" name="id" th:value="*{id}">
          <div class="required field">
            <div class="ui left labeled input">
              <label class="ui label">名称</label>
              <input
                type="text"
                name="name"
                placeholder="分类名称"
                th:value="*{name}"
              />
            </div>
          </div>

          <div class="ui error message"></div>
          <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
              <i class="close icon"></i>
              <div class="header">验证失败</div>
              <p th:errors="*{name}">提交信息不符合规则</p>
            </div>
           /*/-->
          <div class="ui container right aligned">
            <button
              type="button"
              class="ui mini button"
              onclick="window.history.go(-1)"
            >
              返回
            </button>
            <button class="ui mini teal submit button">提交</button>
          </div>
        </form>
      </div>
    </div>


    <!-- 底部 -->
    <footer th:replace="admin/_fragments::footer" ></footer>

    <!-- 引入js脚本-->
    <th:block th:replace="admin/_fragments::script"></th:block>
    <script>
      $(".ui.form").form({
        fields: {
          name: {
            identifier: "name",
            rules: [{ type: "empty", prompt: "名称：请输入分类标题" }],
          },
        },
      });

      $('.message .close').on("click", function () {
        $(this).closest('.message').transition('fade');
      });
    </script>
  </body>
</html>
